<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.adtec.rdc.base.workflow.mapper.SysWorkflowInstanceNodeMapper">

	<!-- 基本resultMap -->
	<resultMap
		type="com.adtec.rdc.base.workflow.model.po.SysWorkflowInstanceNode"
		id="SysWorkflowInstanceNodeMap">
		<id property="inodeId" column="INODE_ID" />
		<id property="nodeId" column="NODE_ID" />
		<result property="instanceId" column="INSTANCE_ID" />
		<result property="nodeStatus" column="NODE_STATUS" />
		<result property="activeFlag" column="ACTIVE_FLAG" />
		<!-- workflow node -->
		<result property="nodeName" column="NODE_NAME" />
		<result property="parentId" column="PARENT_IDS" />
		<result property="nodeRmk" column="NODE_RMK" />
		<result property="agreeNum" column="AGREE_NUM" />
		<result property="disagreeNum" column="DISAGREE_NUM" />
		<result property="nodeLevel" column="NODE_LEVEL" />
	</resultMap>

	<select id="pageByQuery" resultMap="SysWorkflowInstanceNodeMap">
		select * from sys_workflow_inst_node
		<where>
			<if test=" nodeId != '' and  nodeId != null">
				and NODE_ID = #{ nodeId}
			</if>
			<if test=" instanceId != '' and  instanceId != null">
				and INSTANCE_ID = #{ instanceId}
			</if>
			<if test=" nodeStatus != '' and  nodeStatus != null">
				and NODE_STATUS = #{ nodeStatus}
			</if>
			<if test=" activeFlag != '' and  activeFlag != null">
				and ACTIVE_FLAG = #{ activeFlag}
			</if>
		</where>
	</select>
	
	<select id="queryNodesByInstanceId" resultMap="SysWorkflowInstanceNodeMap">
		select a.*,b.NODE_NAME,b.PARENT_IDS,b.NODE_RMK,b.AGREE_NUM,b.DISAGREE_NUM,b.NODE_LEVEL from sys_workflow_inst_node a, sys_workflow_node_info b where a.instance_id=#{instanceId} and a.node_id=b.node_id order by b.CREATE_TIME,b.NODE_NAME
	</select>
	
	<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="false">
		insert into sys_workflow_inst_node(INODE_ID, NODE_ID, INSTANCE_ID, NODE_STATUS, ACTIVE_FLAG) 
    	values
		<foreach collection="instanceNodes" item="item" index="index" separator=",">
    		(
    			#{item.inodeId},
    			#{item.nodeId},
    			#{item.instanceId},
    			#{item.nodeStatus},
    			#{item.activeFlag}
    		)
        </foreach>	
	</insert>
	
	<delete id="deleteByInstanceId" parameterType="String">
		delete from sys_workflow_inst_node where INSTANCE_ID=#{instanceId}
	</delete>
</mapper>