<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adtec.rdc.base.user.mapper.SysResInfoMapper">

    <!-- 基本resultMap -->
    <resultMap type="com.adtec.rdc.base.user.model.po.SysResInfo" id="SysResInfoMap">
        <id property="id" column="ID"/>
        <result property="dbType" column="DB_TYPE"/>
        <result property="lkDriver" column="LK_DRIVER"/>
        <result property="lkUrl" column="LK_URL"/>
        <result property="lkUser" column="LK_USER"/>
        <result property="lkPassword" column="LK_PASSWORD"/>
        <result property="appId" column="APP_ID"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
    </resultMap>

    <select id="pageByQuery" resultMap="SysResInfoMap">
        select * from sys_res_info
        <where>
            <if test=" id != '' and  id != null">
                and ID = #{ id}
            </if>
            <if test=" dbType != '' and  dbType != null">
                and DB_TYPE = #{ dbType}
            </if>
        </where>
    </select>
</mapper>
