<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adtec.rdc.base.detect.mapper.ImageRecordMapper">

    <!-- 基本resultMap -->
    <resultMap type="com.adtec.rdc.base.detect.model.po.DetectImageRecord" id="ImageRecordMap">
        <id property="id" column="id"/>
        <result property="originalImage" column="original_image"/>
        <result property="predictedImage" column="predicted_image"/>
        <result property="recognitionWeight" column="recognition_weight"/>
        <result property="minThreshold" column="min_threshold"/>
        <result property="aiAssistant" column="ai_assistant"/>
        <result property="aiSuggestion" column="ai_suggestion"/>
        <result property="recognitionTime" column="recognition_time"/>
        <result property="recognitionUser" column="recognition_user"/>
    </resultMap>

    <select id="pageByQuery" resultMap="ImageRecordMap">
        select * from detect_image_record
        <where>
            <if test="originalImage != null and originalImage != ''">
                and original_image = #{originalImage}
            </if>
            <if test="predictedImage != null and predictedImage != ''">
                and predicted_image = #{predictedImage}
            </if>
            <if test="recognitionWeight != null and recognitionWeight != ''">
                and recognition_weight = #{recognitionWeight}
            </if>
            <if test="minThreshold != null">
                and min_threshold = #{minThreshold}
            </if>
            <if test="aiAssistant != null and aiAssistant != ''">
                and ai_assistant = #{aiAssistant}
            </if>
            <if test="recognitionTime != null and recognitionTime != ''">
                and recognition_time = #{recognitionTime}
            </if>
            <if test="recognitionUser != null and recognitionUser != ''">
                and recognition_user = #{recognitionUser}
            </if>
        </where>
    </select>
</mapper>