<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adtec.rdc.base.entrancevalidation.mapper.ChkVerifyInfoMapper">

    <!-- 基本resultMap -->
    <resultMap type="com.adtec.rdc.base.entrancevalidation.model.po.ChkVerifyInfo" id="ChkVerifyInfoMap">
        <id property="ruleNo" column="RULE_NO"/>
        <result property="lgprInstCd" column="LGPR_INST_CD"/>
        <result property="dataDt" column="DATA_DT"/>
        <result property="sysNm" column="SYS_NM"/>
        <result property="sysTabNm" column="SYS_TAB_NM"/>
        <result property="sysTabChnNm" column="SYS_TAB_CHN_NM"/>
        <result property="colNm" column="COL_NM"/>
        <result property="colChnNm" column="COL_CHN_NM"/>
        <result property="ruleDsc" column="RULE_DSC"/>
        <result property="errNum" column="ERR_NUM"/>
        <result property="rcrdNum" column="RCRD_NUM"/>
        <result property="verfSts" column="VERF_STS"/>
        <result property="verfDsc" column="VERF_DSC"/>
    </resultMap>

    <select id="pageByQuery" resultMap="ChkVerifyInfoMap">
        select * from chk_verify_info
        <where>
            <if test=" lgprInstCd != '' and  lgprInstCd != null">
                and LGPR_INST_CD = #{ lgprInstCd}
            </if>
            <if test=" sysNm != '' and  sysNm != null">
                and SYS_NM = #{ sysNm}
            </if>
            <if test=" sysTabNm != '' and  sysTabNm != null">
                and SYS_TAB_NM = #{ sysTabNm}
            </if>
            <if test=" dataDt != '' and  dataDt != null">
                and DATA_DT = #{ dataDt}
            </if>
        </where>
        order by RULE_NO
    </select>

    <select id="selectSysNms" resultType="java.lang.String">
        select distinct SYS_NM from chk_verify_info
    </select>

    <select id="selectTabNmsBySysNm" resultType="java.lang.String">
        select distinct SYS_TAB_NM from chk_verify_info where SYS_NM = #{sysNm}
    </select>

    <select id="getLgprList" resultType="java.lang.String">
        select distinct LGPR_INST_CD from chk_verify_info
    </select>

</mapper>
