package ${tableInfo.servicePackageName};

import com.adtec.rdc.base.common.base.service.BaseService;
import $!{tableInfo.poPackageName}.$!{tableInfo.className};
import $!{tableInfo.queryPackageName}.$!{tableInfo.className}Query;

/**
 * @author $tableInfo.authorName
 * @date ${datetime}
 */
public interface ${tableInfo.className}Service extends BaseService<$!{tableInfo.className}> {
	$!{tableInfo.className}Query pageByQuery($!{tableInfo.className}Query query);
}
